/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&mt {
    tapping-term-ms = <200>;
    flavor = "tap-preferred";
};

&sk {
    release-after-ms = <2000>;
    quick-release;
};

/ {
    combos {
        compatible = "zmk,combos";

        K1 {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <3 13>;
            timeout-ms = <30>;
            layers = <0>;
        };

        K2 {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <6 16>;
            timeout-ms = <30>;
            layers = <0>;
        };

        K3 {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <2 12>;
            timeout-ms = <30>;
            layers = <0>;
        };

        K4 {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <7 17>;
            timeout-ms = <30>;
            layers = <0>;
        };

        K5 {
            bindings = <&kp LESS_THAN>;
            key-positions = <14 13>;
            timeout-ms = <30>;
            layers = <0>;
        };

        K6 {
            bindings = <&kp GREATER_THAN>;
            key-positions = <16 15>;
            timeout-ms = <30>;
            layers = <0>;
        };

        K7 {
            bindings = <&kp LEFT_BRACE>;
            key-positions = <4 14>;
            timeout-ms = <30>;
            layers = <0>;
        };

        K8 {
            bindings = <&kp RIGHT_BRACE>;
            key-positions = <5 15>;
            timeout-ms = <30>;
            layers = <0>;
        };

        K9 {
            bindings = <&kp SQT>;
            key-positions = <24 23>;
            timeout-ms = <30>;
            layers = <0>;
        };

        K10 {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <26 25>;
            timeout-ms = <30>;
            layers = <0>;
        };

        K11 {
            bindings = <&kp PLUS>;
            key-positions = <23 13>;
            timeout-ms = <30>;
            layers = <0>;
        };

        K12 {
            bindings = <&kp MINUS>;
            key-positions = <26 16>;
            timeout-ms = <30>;
            layers = <0>;
        };

        K13 {
            bindings = <&kp ASTERISK>;
            key-positions = <22 12>;
            timeout-ms = <30>;
            layers = <0>;
        };

        K14 {
            bindings = <&kp PERCENT>;
            key-positions = <27 17>;
            timeout-ms = <30>;
            layers = <0>;
        };

        K15 {
            bindings = <&kp NON_US_BACKSLASH>;
            key-positions = <24 14>;
            timeout-ms = <30>;
            layers = <0>;
        };

        K16 {
            bindings = <&kp SLASH>;
            key-positions = <25 15>;
            timeout-ms = <30>;
            layers = <0>;
        };

        K17 {
            bindings = <&kp TAB>;
            key-positions = <23 22>;
            timeout-ms = <30>;
            layers = <0>;
        };

        K18 {
            bindings = <&kp ENTER>;
            key-positions = <17 16>;
            timeout-ms = <30>;
            layers = <0>;
        };

        K19 {
            bindings = <&kp CARET>;
            key-positions = <1 2>;
            timeout-ms = <30>;
            layers = <0>;
        };

        K20 {
            bindings = <&kp HASH>;
            key-positions = <11 12>;
            timeout-ms = <30>;
            layers = <0>;
        };

        K21 {
            bindings = <&kp DOLLAR>;
            key-positions = <22 21>;
            timeout-ms = <30>;
            layers = <0>;
        };

        K22 {
            bindings = <&kp AMPERSAND>;
            key-positions = <8 7>;
            layers = <0>;
            timeout-ms = <30>;
        };

        K23 {
            bindings = <&kp EXCLAMATION>;
            key-positions = <18 17>;
            timeout-ms = <30>;
            layers = <0>;
        };

        K24 {
            bindings = <&kp AT_SIGN>;
            key-positions = <28 27>;
            timeout-ms = <30>;
            layers = <0>;
        };

        K25 {
            bindings = <&kp LEFT_WIN>;
            key-positions = <31 34>;
        };

        K26 {
            bindings = <&kp ESCAPE>;
            key-positions = <27 26>;
            timeout-ms = <30>;
            layers = <0>;
        };

        K27 {
            bindings = <&kp EQUAL>;
            key-positions = <7 6>;
            timeout-ms = <30>;
            layers = <0>;
        };

        K28 {
            bindings = <&to 3>;
            key-positions = <8 7 6>;
            layers = <0>;
        };

        K29 {
            bindings = <&to 0>;
            key-positions = <8 7 6>;
            layers = <3>;
        };

        K30 {
            bindings = <&kp SPACE>;
            key-positions = <13 12>;
            timeout-ms = <30>;
            layers = <0>;
        };

        K31 {
            bindings = <&kp DELETE>;
            key-positions = <33 32>;
        };

        K32 {
            bindings = <&kp GRAVE>;
            key-positions = <3 2>;
            timeout-ms = <30>;
            layers = <0>;
        };
    };

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;

            quick-tap-ms = <180>;
            global-quick-tap;
        };

        ltq: ltq {
            compatible = "zmk,behavior-hold-tap";
            label = "LTQ";
            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick_tap_ms = <0>;
            flavor = "hold-preferred";
            bindings = <&mo>, <&kp>;

            quick-tap-ms = <200>;
            global-quick-tap;
        };
    };

    macros {
        zhanghao: zhanghao {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N2 &kp N5 &kp N7 &kp N4 &kp N4 &kp N7 &kp N0 &kp N1 &kp N8 &kp N3>;
            label = "ZHANGHAO";
        };

        mima: mima {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&zhanghao &kp Z &kp LS(Z)>;
            label = "MIMA";
        };

        phonenumber: phonenumber {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N1 &kp N9 &kp N5 &kp N1 &kp N1 &kp N6 &kp N8 &kp N1 &kp N0 &kp N7 &kp N2>;
            label = "PHONENUMBER";
        };

        pinnumber: pinnumber {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N7 &kp N5 &kp N8 &kp N2 &kp N1 &kp N6>;
            label = "PINNUMBER";
        };

        noticeword: noticeword {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LPAR &kp J &kp I &kp A &kp N &kp J &kp I &kp E &kp H &kp U &kp I &kp D &kp A &kp RPAR>;
            label = "NOTICEWORD";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp Q             &kp W         &kp E             &kp R  &kp T     &kp Y            &kp U  &kp I      &kp O    &kp P
&kp A             &kp S         &kp D             &kp F  &kp G     &kp H            &kp J  &kp K      &kp L    &kp RET
&kp Z             &kp X         &kp C             &kp V  &kp B     &kp N            &kp M  &kp COMMA  &kp DOT  &kp SEMI
       &kp LSHFT         &mo 2         &kp LCTRL         &kp BSPC  &mo 1  &kp LALT
            >;
        };

        layer_1 {
            bindings = <
&kp F1          &kp F2            &kp F3          &kp F4  &kp F5   &kp F11          &kp HOME  &kp UP    &kp END    &kp ESC
&kp F6          &kp F7            &kp F8          &kp F9  &kp F10  &kp F12          &kp LEFT  &kp DOWN  &kp RIGHT  &kp CAPS
&kp N1          &kp N2            &kp N3          &kp N4  &kp N5   &kp N6           &kp N7    &kp N8    &kp N9     &kp N0
        &trans          &kp LGUI          &trans          &trans   &none    &trans
            >;
        };

        layer_2 {
            bindings = <
&kp INS               &kp C_BRIGHTNESS_INC          &kp C_VOLUME_UP            &kp K_PREVIOUS  &kp K_SLEEP   &trans             &trans                    &trans                    &trans                    &trans
&kp PSCRN             &kp C_BRIGHTNESS_DEC          &kp C_VOLUME_DOWN          &kp K_NEXT      &kp K_POWER   &zhanghao          &phonenumber              &mima                     &pinnumber                &noticeword
&bt BT_SEL 0          &bt BT_SEL 1                  &bt BT_SEL 2               &bt BT_SEL 3    &bt BT_SEL 4  &trans             &kp LS(LA(LC(NUMBER_1)))  &kp LA(LS(LC(NUMBER_2)))  &kp LS(LA(LC(NUMBER_3)))  &kp LS(LA(LC(NUMBER_4)))
              &trans                        &trans                     &trans                  &bt BT_CLR    &trans     &trans
            >;
        };

        layer_3 {
            bindings = <
&kp ESC               &kp Q         &kp W             &kp E  &kp R   &kp Y           &kp U  &kp I      &kp O    &kp P
&kp TAB               &kp A         &kp S             &kp D  &kp F   &kp H           &kp J  &kp K      &kp L    &kp RET
&kp LSHFT             &kp Z         &kp X             &kp C  &kp V   &kp N           &kp M  &kp COMMA  &kp DOT  &kp SEMI
           &kp LCTRL         &mo 4         &kp SPACE         &trans  &trans  &trans
            >;
        };

        layer_4 {
            bindings = <
&trans          &trans          &trans          &trans  &kp T   &trans          &trans  &trans  &trans  &trans
&trans          &trans          &trans          &trans  &kp G   &trans          &trans  &trans  &trans  &trans
&trans          &trans          &trans          &trans  &kp B   &trans          &trans  &trans  &trans  &trans
        &trans          &trans          &trans          &trans  &trans  &trans
            >;
        };

        layer_5 {
            bindings = <
&trans          &trans          &trans          &trans  &trans  &trans          &trans  &trans  &trans  &trans
&trans          &trans          &trans          &trans  &trans  &trans          &trans  &trans  &trans  &trans
&trans          &trans          &trans          &trans  &trans  &trans          &trans  &trans  &trans  &trans
        &trans          &trans          &trans          &trans  &trans  &trans
            >;
        };
    };
};
